<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Sonhos</title> <!-- Se muda o nome da pagina de acordo com a mudança de paginas? -->
    <link rel="website icon" type="png" href="imagens/logo-removebg-preview.png"> <!-- ajeitar o tamanho da logo -->
    <link rel="stylesheet" href="acompanhe.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="index.html"> <img src="./imagens/logo-removebg-preview.png" alt="Logo" height="50"
                            class="d-inline-block align-text-top"> </a> <!-- add a logo -->
                </li>
                <li>
                    <a href="sobre.html"> Sobre nós </a>
                </li>
                <li>
                    <a href="acompanhe.html"> Acompanhe </a>
                </li>
                <li>
                    <a> Ferramentas </a>
                </li>
                <li>
                    <a href="educa.html"> Educação Financeira </a>
                </li>
                <li class="loginBotao">
                    <a href="login.html"> <button> <img src="imagens/pngwing.com(1) 1.png"> Entrar </button> </a>
                </li>
            </ul>
        </nav>
        <img src="imagens/pexels-tima-miroshnichenko-5912588 1.png" alt="" class="imagem-header">
    </header>
    <main class="alinhamento">
            <section>
                <div class="alinhar-acompanhamento">
                    <form  class="tentativa">
                        <div class="alinhar-textos">
                            <h1> ACOMPANHE SEUS SONHOS </h1>
                            <h3> Observe o progresso de cada um dos seus sonhos! </h3>
                            <br> <br>
                            <div class="alinhar-texto2">
                                <label for="" class="tentativa1">Seu veiculo está 50% mais proximo! <img src="imagens/img_56c8983cce649-removebg-preview 1.png" alt=""></label>
                                <label for="" class="tentativa1">Sua casa está 90% mais proxima! <img src="imagens/OIP 1.png" alt=""></label>
                                <label for="" class="tentativa1">Sua viagem está 95% mais proxima <img src="imagens/5491360-removebg-preview 1.png" alt=""></label>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <section class="container-organizar">
                <div>
                    <div class="container-text">
                        <h2 class="container-title">Seu veículo está quase na sua garagem</h2>
                        <br>
                            <p class="texto">Uma casa não é apenas um lugar onde você vive, É um investimento
                            no seu presente e no seu futuro.Continue firme no seu propósito e
                            siga construindo o lar dos seus sonhos, um tijolo de cada vez.</p>
                        <br>
                    </div>
                    <div class="container-text">
                        <h2 class="container-title">Sua casa está em construção</h2>
                        <br>
                        <p class="texto"> Uma casa não é apenas um lugar onde você vive, É um
                            investimento no seu presente e no seu futuro.Continue firme no
                            seu propósito e siga construindo o lar dos seus sonhos, um tijolo
                            de cada vez.</p>
                        <br>
                    </div>
                    <div class="container-text">
                        <h2 class="container-title">Prepare suas malas para sua viagem</h2>
                        <br>
                        <p class="texto">Uma viagem bem investida é um tesouro de experiências que duram para sempre. Não é apenas uma
                        escapada temporária, mas sim um investimento em crescimento pessoal, aprendizado e felicidade. Siga
                        em frente com confiança e prepare-se para descobrir o mundo, um destino de cada vez.</p>
                        <br>
                    </div>
                </div>
                <div class="container-img">
                    <img src="imagens/Design sem nome (13) 1.png" alt="">
                </div>
            </section>
    </main>
    <footer>
        <ul>
            <li>
                <a> Entre em contato </a>
            </li>
            <li>
                <a> Sobre nós </a>
            </li>
            <li>
                <a> Saiba mais </a>
            </li>
            <li>
                <a> Ferramentas </a>
            </li>