<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
</head>
<body>
    <div>
        <form action="cadastro"></form>
        <label>Email</label>
        <input type="email">
        <label>Nova Senha</label>
        <input type="password">
        <label>Confirme a Senha</label>
        <input type="password">
        <button>Confirmar</button> <!-- adicionar um redirecionamento -->
    </div>
</body>
</html>