<!DOCTYPE html>
<html lang="en">

<!-- feito -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Sonhos</title> <!-- Se muda o nome da pagina de acordo com a mudança de paginas? -->
    <link rel="website icon" type="png" href="imagens/logo-removebg-preview.png"> <!-- ajeitar o tamanho da logo -->
    <link rel="stylesheet" href="acompanhe.css">

</head>

<body>
    <div>
        <nav>
            <ul>

                <li>
                    <a href="sobre.html"> Sobre nós </a>
                </li>
                <li>
                    <a href="acompanhe.html"> Acompanhe </a>
                </li>
                <li>
                    <a> Ferramentas </a>
                </li>
                <li>
                    <a href="educa.html"> Educação Financeira </a>
                </li>
                <li>
                    <a> Login </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- add uma imagem no header -->

    <div>
        <section>
            <form action="forms">
                <h3> FAÇA SEUS SONHOS VIRAREM REALIDADE! </h3>
                <br>
                <label>Qual seu sonho?</label>
                <input type="text">
                <br>
                <label>Qual o valor estipulado</label>
                <input type="text">
                <br>
                <label>Qual prazo</label>
                <input type="date">
                <br>
                <button>SIMULE</button>
            </form>
        </section>
        <section>
            <h3> O que é a gerenciadora de sonhos </h3>
            <br>
            <p> O gerenciamento de sonhos financeiros envolve a habilidade de visualizar e planejar metas financeiras de
                maneira consciente e estratégica, buscando alcançar objetivos específicos através de um planejamento
                financeiro sólido e bem estruturado. </p>
            <br>
            <p> Em um mundo onde as finanças pessoais escrevem um papel crucial na qualidade de vida e na realização de
                projetos pessoais, o gerenciamento de sonhos financeiros se torna uma ferramenta essencial. Ele envolve
                a definição clara de objetivos financeiros de curto, médio e longo prazo, como a compra de uma casa, a
                educação dos filhos, a autorização. </p>
            <br>
        </section>
    </div>
    <footer>
        <ul>
            <li>
                <a> Entre em contato </a>
            </li>
            <li>
                <a> Sobre nós </a>
            </li>
            <li>
                <a> Saiba mais </a>
            </li>
            <li>
                <a> Ferramentas </a>
            </li>
            <li>
                <a> Ajuda </a>
            </li>
        </ul>
    </footer>
    </div>

</body>

</html>