<!DOCTYPE html>
<html lang="en">

<!-- feito -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Sonhos</title> <!-- Se muda o nome da pagina de acordo com a mudança de paginas? -->
    <link rel="website icon" type="png" href="imagens/logo-removebg-preview.png"> <!-- ajeitar o tamanho da logo -->
    <link rel="stylesheet" href="acompanhe.css">

</head>

<body>
    <div>
        <nav>
            <ul>
                <li>
                    <a href="index.html"> <img src="./imagens/logo-removebg-preview.png" alt="Logo" height="50"
                            class="d-inline-block align-text-top"> </a> <!-- add a logo -->
                </li>
                <li>
                    <a href="sobre.html"> Sobre nós </a>
                </li>
                <li>
                    <a href="acompanhe.html"> Acompanhe </a>
                </li>
                <li>
                    <a> Ferramentas </a>
                </li>
                <li>
                    <a href="educa.html"> Educação Financeira </a>
                </li>
                <li class="loginBotao">
                    <a href="login.html"> <button> <img src="imagens/pngwing.com(1) 1.png"> Entrar </button> </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- add uma imagem no header -->

    <div>
        <section>
            <form action="forms">
                <h3> GERENCIE SEUS GASTOS MENSAIS </h3>
                <br>
                <label>Informe sua renda</label>
                <input type="text">
                <!-- se uma variavel do tipo int esta sendo declarada como "text" ela vira String e nao executa soma? -->
                <br>
                <label>Despesas Fixas</label>
                <input type="text">
                <br>
                <label>Despesas Variadas</label>
                <input type="text">
                <br>
                <button>CONFIRMAR</button> <!-- nao gostei da palavra usada no botao-->
            </form>
        </section>
        <section>
            <h2>SEUS GASTOS REPRESENTAM: </h2> <!-- add imagem -->
            <br>
            <p> Analisando o extrato bancário do último mês, observamos que 40% dos gastos foram destinados a despesas
                fixas, como aluguel e contas de serviços. Os investimentos representaram 20% do total, refletindo um
                compromisso com o crescimento financeiro futuro. Já as despesas variáveis, como lazer e alimentação,
                corresponderam a 30%, enquanto os 10% restantes foram poupados para emergências. </p>
            <br>

        </section>
    </div>
    <footer>
        <ul>
            <li>
                <a> Entre em contato </a>
            </li>
            <li>
                <a> Sobre nós </a>
            </li>
            <li>
                <a> Saiba mais </a>
            </li>
            <li>
                <a> Ferramentas </a>
            </li>
            <li>
                <a> Ajuda </a>
            </li>
        </ul>
    </footer>
    </div>

</body>

</html>