<!DOCTYPE html>
<html lang="en">

<!-- tela inicial --> <!-- feito -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Sonhos</title>
    <link rel="website icon" type="png" href="imagens/logo-removebg-preview.png"> <!-- ajeitar o tamanho da logo -->
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div>
        <nav>
            <ul>
                <li>
                    <a> <img src="./imagens/logo-removebg-preview.png" alt="Logo" height="50"
                            class="d-inline-block align-text-top"> </a> <!-- add a logo -->
                </li>
                <div class="agrupamento">
                    <li>
                        <a href="sobre.html"> Sobre nós </a>
                    </li>
                    <li>
                        <a href="acompanhe.html"> Acompanhe </a>
                    </li>
                    <li>
                        <a> Ferramentas </a> <!-- add efeito on click e aparecer as ferramentas -->
                    </li>
                    <li>
                        <a href="educa.html"> Educação Financeira </a>
                    </li>
                </div>
                <li class="loginBotao">
                    <a href="login.html"> <button> <img src="imagens/pngwing.com(1) 1.png"> Entrar </button> </a>
                </li>
            </ul>
        </nav>
    </div>

    <header>
        <div class="title">

            <h1> FAÇA SEU PLANEJAMENTO FINANCEIRO E CONQUISTE SEUS
                <span> SONHOS </span>
            </h1>

            <!-- como mudar a cor de apenas uma palavra? -->

        </div>

        <div class="center">
            <img src="./imagens/file.png"></img>
            <br><br>
        </div>
    </header>

    <div class="title"> <!-- add imagem ao lado -->
        <main>
            <section class="planer-finaceiro-color">
                <br><br>
                <br><br>

                <br>
                <div class="plano-financeiro">
                    <div class="div-p">
                        <h3> VOCÊ SABE O QUE É PLANEJAMENTO FINANCEIRO? </h3>
                        <br>
                        <p> O planejamento financeiro é uma importante ferramenta que
                            permite aos indivíduos administrarem suas finanças de
                            forma mais organizada, eficiente e sustentável. Trata-se, em
                            linhas gerais, de um conjunto de medidas que formam uma
                            camada de proteção à saúde financeira das pessoas, de
                            modo que elas tenham condições de suprir as necessidades
                            básicas do dia a dia, por um lado, mas também alcançar
                            metas e realizar sonhos — como uma viagem ao exterior, a
                            compra de um carro ou de um imóvel — pensando no médio
                            e no longo prazo. </p>
                    </div>

                    <img src="imagens/Design sem nome (6) 1.png" alt="">

                </div>
                <br>

            </section>
            <div class="botaozin1">
                <button class="botao1"> SIMULE </button> <!-- deixar isso daqui bonito no css -->
            </div>
            <div class="main-alinhar-bloquinhos-ao-centro">
                <section class="bloquinho">
                    <br><br>
                    <div>
                        <img src="imagens/Design sem nome (23) 1.png" alt="">
                        
                        <h4> Organização Eficiente </h4> <!-- add uma imagem -->
                        <br>
                        <p class="text-bloco"> Te ajudamos se organizar financeira e
                            lhe auxiliamos em sua caminhada rumo aos
                            seus sonhos de maneira eficiente e informativa.
                            Acesse nossos cursos aprenda mais sobre
                            educação financeira e descubra novos
                            caminhos a se trilhar </p>
                    </div>
                    <br>
                </section>
                <section class="bloquinho">
                    <div>
                        <img src="imagens/Design sem nome (9) 1.png" alt="">
                        <h4> Acompanhe seus sonhos </h4> <!-- add uma imagem -->
                        <br>
                        <p class="text-bloco"> Faça um acompanhamento detalhado de suas <!-- como diminuir a fonte -->
                            metas integrada a todas as nossas funcionalidades
                            de auxiliamento financeiro. Entre em nossos
                            grupos de apoio ou entre em contado com nossa
                            equipe em caso de qualquer dúvida
                        </p>

                    </div>
                    <br>
                </section>
            </div>
            <br><br><br>
            <section>
                <h4> A Gerenciadora de Sonhos - GDS - é a solução para a vida daqueles que sonham e querem </h5>
                <h4> conquistar. Ajudamos a você em seu planejamento financeiro e o guiamos pelo melhor caminho </h5>
                <h4> até atingir as suas metas! </h5>
            </section>
            <section>
                <br><br><br>
                <h4> Faça seu planejamento financeiro conosco </h4> <!-- add uma imagem -->
            </section>
            <div>

                <section>
                    <br>
                    <div>
                        <form action="GDS" class="forms-sonho">
                            <div class=""> <!-- fazer dessa classe a classe que vai organizar-->
                                <h3>Qual o Seu Sonho?</h3>
                                
                                <label for="dream">Sonho</label>
                                <input type="text" id="dream" name="dream">
                                
                                
                                <label for="valor">Valor</label>
                                <input type="text" id="valor" name="valor">
                                
                                
                                <label for="prazo">Prazo</label>
                                <input type="date" id="prazo" name="prazo">
                            </div>
                            <div>
                                <button> Simule </button>
                            </div>
                        </form>
                    </div>
                    <br><br>
                </section>
            </div>
        </main>
    </div>
    <div>
        <footer>
            <ul>
                <li>
                    <a> Entre em contato </a>
                </li>
                <li>
                    <a> Sobre nós </a>
                </li>
                <li>
                    <a> Saiba mais </a>
                </li>
                <li>
                    <a> Ferramentas </a>
                </li>
                <li>
                    <a> Ajuda </a>
                </li>
            </ul>
        </footer>
    </div>

</body>

</html>