<!DOCTYPE html>
<html lang="en">

<!-- feito -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Sonhos</title> <!-- Se muda o nome da pagina de acordo com a mudança de paginas? -->
    <link rel="website icon" type="png" href="imagens/logo-removebg-preview.png"> <!-- ajeitar o tamanho da logo -->
    <link rel="stylesheet" href="investir.css">

</head>

<body>
    <div>
        <nav>
            <ul>

                <li>
                    <a href="sobre.html"> Sobre nós </a>
                </li>
                <li>
                    <a href="acompanhe.html"> Acompanhe </a>
                </li>
                <li>
                    <a> Ferramentas </a>
                </li>
                <li>
                    <a href="educa.html"> Educação Financeira </a>
                </li>
                <li>
                    <a> Login </a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <img src="imagens/Sem título.jpg" alt="">
    </div>
    <footer>
        <ul>
            <li>
                <a> Entre em contato </a>
            </li>
            <li>
                <a> Sobre nós </a>
            </li>
            <li>
                <a> Saiba mais </a>
            </li>
            <li>
                <a> Ferramentas </a>
            </li>
            <li>
                <a> Ajuda </a>
            </li>
        </ul>
    </footer>
    </div>

</body>

</html>