<!DOCTYPE html>
<html lang="en">

<!-- feito -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Sonhos</title> <!-- Se muda o nome da pagina de acordo com a mudança de paginas? -->
    <link rel="website icon" type="png" href="imagens/logo-removebg-preview.png"> <!-- ajeitar o tamanho da logo -->
    <link rel="stylesheet" href="sobre.css">
</head>

<body>
    <div>
        <nav>
            <ul>
                <li>
                    <a href="index.html"> <img src="./imagens/logo-removebg-preview.png" alt="Logo" height="50"
                            class="d-inline-block align-text-top"> </a> <!-- add a logo -->
                </li>
                <li>
                    <a href="sobre.html"> Sobre nós </a>
                </li>
                <li>
                    <a href="acompanhe.html"> Acompanhe </a>
                </li>
                <li>
                    <a> Ferramentas </a>
                </li>
                <li>
                    <a href="educa.html"> Educação Financeira </a>
                </li>
                
                <li class="loginBotao">
                    <a href="login.html"> <button> <img src="imagens/pngwing.com(1) 1.png"> Entrar </button> </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="title">
        <main>           <!-- posso ter usado a tag "section" de maneira errada -->
            <section>
                <div class="title">
                    <br><br>
                    <h1> SOBRE NÓS </h1>
                    <p class="left2"> Bem-vindo a Gestão de sonhos, onde transformamos sonhos em realidade 
                     através de soluções financeiras inovadoras e acessíveis. Nossa missão é 
                     simplificar o acesso a serviços financeiros, oferecendo ferramentas e 
                     recursos personalizados que permitem a cada cliente gerenciar seus 
                    sonhos com confiança. </p>
                    <br>
                </div>
            </section>
            <section>
                <p class="left2"> Fundado com a visão de democratizar o acesso ao crédito e à gestão 
                 financeira, nosso objetivo é proporcionar a todos a oportunidade de 
                 alcançar suas metas pessoais e profissionais. Acreditamos que um futuro 
                 financeiro saudável começa com educação e planejamento, por isso 
                 oferecemos suporte contínuo e informações claras para ajudar nossos 
                 clientes a tomar decisões informadas. </p> <!-- decisões informadas ??? -->
                <br>
            </section>
            <section>
                <p class="left2"> Na Gestão de Sonhos, entendemos que cada sonho é único. Seja 
                 economizar para uma casa nova, investir em educação ou planejar uma 
                 aposentadoria tranquila, estamos aqui para fornecer as soluções que 
                 melhor atendem às suas necessidades. Nosso compromisso é estar ao seu 
                 lado em cada etapa da jornada, oferecendo um serviço transparente, 
                 confiável e eficiente. </p>
                <br>
            </section>
            <section>
                <p class="left2"> Junte-se a nós e descubra como podemos ajudá-lo a transformar seus 
                 sonhos em realidade. Porque aqui na Gestão de Sonhos, seu sonho é o 
                 nosso propósito. </p>
            </section>
            <section>
                <h1 class="right"> EQUIPE </h1> <!-- add uma imagem da equipe logo abaixo -->
                <p class="teste2">   Somos uma equipe formada por Renato Loureço,  Leticia Oliveira, Williene Gabrielly 
                 e Marcus Vinicius, ambos estudantes do Start Recife. 
                 Buscamos alcançar a população brasileira carente de educação financeira e 
                 recursos financeiros, visando garantir acesso do tal para que 
                 haja a diminuição nos casos de inadimplentes e devedores no país. </p>
            </section>
        </main>
    </div>
    <div>
        <footer>
            <ul>
                <li>
                    <a> Entre em contato </a>
                </li>
                <li>
                    <a> Sobre nós </a>
                </li>
                <li>
                    <a> Saiba mais </a>
                </li>
                <li>
                    <a> Ferramentas </a>
                </li>
                <li>
                    <a> Ajuda </a>
                </li>
            </ul>
        </footer>
    </div>

</body>

</html>