<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
    <link th:href="@{../static/css/cadastros.css}" href="../static/css/cadastros.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <form action="cadastro"></form>
        <label>Email</label>
        <input type="email">
        <label>Nova Senha</label>
        <input type="password">
        <label>Confirme a Senha</label>
        <input type="password">
        <button>Confirmar</button> <!-- adicionar um redirecionamento -->
    </div>
</body>
</html>