<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
    <link th:href="@{../static/css/login.css}" href="../static/css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div>
        <section class="suporte-login"></section>
    </div>

    <div class="alinhar-forms">
        <form class="forms-login" action="login">
            <h3> LOGIN </h3>
            <div class="alinnhar-ao-centro">
                <div class="alinhar-inputs-login">
                    <label>Username</label>
                    <input value="" class="arredondar-input">
                </div>
                <div class="alinhar-inputs-login">
                    <label>Password</label>
                    <input value="" class="arredondar-input">
                </div>
                <div>
                    <button class="entrar-bot-login"> Entrar </button>
                </div>
                <div>
                   <p>
                    não tem conta? <span> <a href="cadastro.html" class="criar-conta-login"> criar conta</a> </span>
                   </p> 
                        
                    
                </div>
                <!-- o botao nao esta direcionando ao canto correto, só vai para canto nenhum ??? -->
            </div>
        </form>
    </div>
</body>

</html>