<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<!-- feito -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Sonhos</title> <!-- Se muda o nome da pagina de acordo com a mudança de paginas? -->
    <link rel="website icon" type="png" href="imagens/logo-removebg-preview.png"> <!-- ajeitar o tamanho da logo -->
    <link th:href="@{../static/css/sobre.css}" href="../static/css/sobre.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <nav>
            <ul>
                <li>
                    <a href="index.html"> <img src="./imagens/logo-removebg-preview.png" alt="Logo" height="50"
                            class="d-inline-block align-text-top"> </a> <!-- add a logo -->
                </li>
                <li>
                    <a href="sobre.html"> Sobre nós </a>
                </li>
                <li>
                    <a href="acompanhe.html"> Acompanhe </a>
                </li>
                <li>
                    <a> Ferramentas </a>
                </li>
                <li>
                    <a href="educa.html"> Educação Financeira </a>
                </li>

                <li class="loginBotao">
                    <a href="login.html"> <button> <img src="imagens/pngwing.com(1) 1.png"> Entrar </button> </a>
                </li>
            </ul>
        </nav>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1> Em construção </h1>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div>
        <footer>
            <ul>
                <li>
                    <a> Entre em contato </a>
                </li>
                <li>
                    <a> Sobre nós </a>
                </li>
                <li>
                    <a> Saiba mais </a>
                </li>
                <li>
                    <a> Ferramentas </a>
                </li>
                <li>
                    <a> Ajuda </a>
                </li>
            </ul>
        </footer>
    </div>

</body>

</html>