<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<!-- feito -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Sonhos</title> <!-- Se muda o nome da pagina de acordo com a mudança de paginas? -->
    <link rel="website icon" type="png" href="../static/imagens/logoimg3.png"> <!-- ajeitar o tamanho da logo -->
    <link th:href="@{../static/css/provisorio.css}" href="../static/css/provisorio.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div>
        <nav>
            <ul>
                <li>
                    <a href="index.html"> <img src="../static/imagens/logoimg3.png" alt="Logo" height="50"
                                               class="d-inline-block align-text-top"> </a> <!-- add a logo -->
                </li>
                <li>
                    <a href="sobre.html"> Sobre nós </a>
                </li>
                <li>
                    <a href="acompanhe.html"> Acompanhe </a>
                </li>
                <li>
                    <a> Ferramentas </a>
                </li>
                <li>
                    <a href="educa.html"> Educação Financeira </a>
                </li>
                <li class="loginBotao">
                    <a href="login.html"> <button> <img src="../static/imagens/img2.png"> Entrar </button> </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- add uma imagem no header -->

    <div>
        <section>
            <form action="forms">
                <h3> QUITE SUAS DÍVIDAS COM A GDS </h3>
                <br>
                <label>Informe sua renda</label>
                <input type="text">
                <!-- se uma variavel do tipo int esta sendo declarada como "text" ela vira String e nao executa soma? -->
                <label>Valor total da dívida</label>
                <input type="text">
                <label>Quantidade de parcelas</label>
                <input type="text">
                <br>
                <label>Forma de pagamento</label>
                <input type="text">
                <br>
                <label>Prazo</label>
                <input type="date">
                <br>
                <button>Avançar</button> <!-- nao gostei da palavra usada no botao-->
            </form>
        </section>
        <section>
            <h3>SAIBA A IMPORTANCIA</h3> <!-- add imagem -->
            <br>
            <p> Quitar as dívidas é o primeiro passo para conquistar a saúde financeira. Além de com o nome limpo, ao
                quitar suas dívidas surge a oportunidade de controlar mais as finanças, estabelecer metas e ter mais
                leveza no orçamento. Dessa forma, é possível investir parte da sua renda mensal para
                conquistar objetivos como fazer um financiamento, trocar de carro ou mesmo fazer uma viagem. </p>
            <br>
        </section>
    </div>
    <footer>
        <ul>
            <li>
                <a> Entre em contato </a>
            </li>
            <li>
                <a> Sobre nós </a>
            </li>
            <li>
                <a> Saiba mais </a>
            </li>
            <li>
                <a> Ferramentas </a>
            </li>
            <li>
                <a> Ajuda </a>
            </li>
        </ul>
    </footer>
    </div>

</body>

</html>