<!DOCTYPE html>
<html lang="en">

<!-- feito -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Sonhos</title> <!-- Se muda o nome da pagina de acordo com a mudança de paginas? -->
    <link rel="website icon" type="png" href="imagens/logo-removebg-preview.png"> <!-- ajeitar o tamanho da logo -->
    <link rel="stylesheet" href="acompanhe.css">

</head>

<body>
    <div>
        <nav>
            <ul>

                <li>
                    <a href="sobre.html"> Sobre nós </a>
                </li>
                <li>
                    <a href="acompanhe.html"> Acompanhe </a>
                </li>
                <li>
                    <a> Ferramentas </a>
                </li>
                <li>
                    <a href="educa.html"> Educação Financeira </a>
                </li>
                <li>
                    <a> Login </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- add uma imagem no header -->

    <div class="alinhamento">
        <div>
            <section>
                <h1>ACOMPANHE SEUS SONHOS</h1>
                <h4>Observe o progresso de cada um dos seus sonhos!</h4>
                <!-- add imagem ilustrativa -->
            </section>
        </div>
        <div>
            <section>
                <h3>Seu veículo está quase na sua garagem</h3>
                <br>
                <p>Uma casa não é apenas um lugar onde você vive, É um investimento no seu presente e no seu futuro.
                    Continue firme no seu propósito e siga construindo o lar dos seus sonhos, um tijolo de cada vez.</p>
                <br>
            </section>
        </div>
        <div>
            <section> <!-- add uma imagem ao lado -->
                <h3>Sua casa está em construção</h3>
                <br>
                <p>Uma casa não é apenas um lugar onde você vive, É um investimento no seu presente e no seu futuro.
                    Continue firme no seu propósito e siga construindo o lar dos seus sonhos, um tijolo de cada vez.</p>
                <br>
            </section>
        </div>
        <div>
            <section>
                <h3>Prepare suas malas para sua viagem</h3>
                <br>
                <p>Uma viagem bem investida é um tesouro de experiências que duram para sempre. Não é apenas uma
                    escapada temporária, mas sim um investimento em crescimento pessoal, aprendizado e felicidade. Siga
                    em frente com confiança e prepare-se para descobrir o mundo, um destino de cada vez.</p>
                <br>
            </section>
        </div>
    </div>

    <div>
        <footer>
            <ul>
                <li>
                    <a> Entre em contato </a>
                </li>
                <li>
                    <a> Sobre nós </a>
                </li>
                <li>
                    <a> Saiba mais </a>
                </li>
                <li>
                    <a> Ferramentas </a>
                </li>
                <li>
                    <a> Ajuda </a>
                </li>
            </ul>
        </footer>
    </div>

</body>

</html>