<!DOCTYPE html>
<html lang="en">

<!-- feito -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Sonhos</title> <!-- Se muda o nome da pagina de acordo com a mudança de paginas? -->
    <link rel="website icon" type="png" href="imagens/logo-removebg-preview.png"> <!-- ajeitar o tamanho da logo -->
    <link rel="stylesheet" href="educa.css">

</head>

<body>
    <div>
        <nav>
            <ul>

                <li>
                    <a href="sobre.html"> Sobre nós </a>
                </li>
                <li>
                    <a href="acompanhe.html"> Acompanhe </a>
                </li>
                <li>
                    <a> Ferramentas </a>
                </li>
                <li>
                    <a href="educa.html"> Educação Financeira </a>
                </li>
                <li>
                    <a> Login </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- add uma imagem no header -->

    <div class="title">
        <main>
            <section class="bloco"> <!-- add imagem ao lado -->
                <br>
                <h1> EDUCAÇÃO FINANCEIRA </h1>
                <p> A educação financeira é fundamental para garantir um futuro econômico estável e próspero. Trata-se
                    de um conjunto de conhecimentos e habilidades que permite a indivíduos e famílias tomar decisões
                    informadas e eficazes sobre a gestão de suas finanças pessoais. Compreender conceitos como
                    orçamento, poupança, investimentos e crédito é essencial para alcançar objetivos financeiros e
                    evitar dívidas desnecessárias. </p>
                <br>
                <p> Ter uma boa educação financeira envolve mais do que apenas saber como equilibrar um talão de cheques
                    ou entender as taxas de juros. É sobre adquirir a capacidade de planejar o futuro, identificar e
                    evitar armadilhas financeiras e utilizar de maneira inteligente os recursos disponíveis. Isso inclui
                    aprender a criar e manter um orçamento, compreender a importância de uma reserva de emergência,
                    investir de forma segura e eficaz. </p>
                <br>
                <p> Promover a educação financeira é uma responsabilidade compartilhada entre escolas, empresas e
                    instituições financeiras. Todos têm um papel importante em fornecer os recursos e o apoio
                    necessários para que as pessoas possam tomar decisões financeiras informadas. Ao investir em
                    educação financeira, estamos construindo uma base sólida para um futuro econômico mais saudável para
                    todos. </p>
                <br>
                <p> Ao final, a educação financeira não é apenas uma ferramenta para alcançar metas pessoais, mas também
                    um meio de contribuir para uma sociedade mais justa e equilibrada, onde todos têm a oportunidade de
                    prosperar. Por isso, é essencial buscar continuamente conhecimento e aprimoramento nessa área,
                    visando sempre o bem-estar financeiro e a realização dos sonhos. </p>
                <br>
            </section>
        </main>
    </div>

    <!-- preciso colocar uns videos aqui em caixas mas nao sei como -->

    <div>
        <footer>
            <ul>
                <li>
                    <a> Entre em contato </a>
                </li>
                <li>
                    <a> Sobre nós </a>
                </li>
                <li>
                    <a> Saiba mais </a>
                </li>
                <li>
                    <a> Ferramentas </a>
                </li>
                <li>
                    <a> Ajuda </a>
                </li>
            </ul>
        </footer>
    </div>

</body>

</html>