<!DOCTYPE html>
<html lang="en">

<!-- tela inicial --> <!-- feito -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Sonhos</title>
    <link rel="website icon" type="png" href="imagens/logo-removebg-preview.png"> <!-- ajeitar o tamanho da logo -->
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div>
        <nav>
            <ul>
                <li>
                    <a> <img src="./imagens/logo-removebg-preview.png" alt="Logo" height="50"
                            class="d-inline-block align-text-top"> </a> <!-- add a logo -->
                </li>
                <div class="agrupamento">
                    <li>
                        <a href="sobre.html"> Sobre nós </a>
                    </li>
                    <li>
                        <a href="acompanhe.html"> Acompanhe </a>
                    </li>
                    <li>
                        <a> Ferramentas </a> <!-- add efeito on click e aparecer as ferramentas -->
                    </li>
                    <li>
                        <a href="educa.html"> Educação Financeira </a>
                    </li>
                </div>
                <li class="loginBotao">
                    <a href="login.html"> <button> <img src="imagens/pngwing.com(1) 1.png"> Entrar </button> </a>
                </li>
            </ul>
        </nav>
    </div>

    <header>
        <div class="title">

            <h1> FAÇA SEU PLANEJAMENTO FINANCEIRO E CONQUISTE SEUS
                <span> SONHOS </span>
            </h1>

            <!-- como mudar a cor de apenas uma palavra? -->

        </div>

        <div class="center">
            <img src="./imagens/file.png"></img>
            <br><br>
        </div>
    </header>

    <div class="title"> <!-- add imagem ao lado -->
        <main>
            <section>

                <br><br>
                <br><br>

                <h3> VOCÊ SABE O QUE É PLANEJAMENTO FINANCEIRO? </h3>

                <br>

                <p> O planejamento financeiro é uma importante ferramenta que </p>
                <p> permite aos indivíduos administrarem suas finanças de </p>
                <p> forma mais organizada, eficiente e sustentável. Trata-se, em </p>
                <p> linhas gerais, de um conjunto de medidas que formam uma </p>
                <p> camada de proteção à saúde financeira das pessoas, de </p>
                <p> modo que elas tenham condições de suprir as necessidades </p>
                <p> básicas do dia a dia, por um lado, mas também alcançar </p>
                <p> metas e realizar sonhos — como uma viagem ao exterior, a </p>
                <p> compra de um carro ou de um imóvel —, pensando no médio </p>
                <p> e no longo prazo. </p>

                <br>

            </section>
            <div>
                <button> SIMULE </button> <!-- deixar isso daqui bonito no css -->
            </div>
            <section>
                <br><br>
                <h4> Organização Eficiente </h4> <!-- add uma imagem -->
                <br>
                <p> Te ajudamos se organizar financeira e </p>
                <p> lhe auxiliamos em sua caminhada rumo aos </p>
                <p> seus sonhos de maneira eficiente e informativa. </p>
                <p> Acesse nossos cursos aprenda mais sobre </p>
                <p> educação financeira e descubra novos </p>
                <p> caminhos a se trilhar </p>
                <br>
            </section>
            <section>
                <h4> Acompanhe seus sonhos </h4> <!-- add uma imagem -->
                <br>
                <p> Faça um acompanhamento detalhado de suas </p> <!-- como diminuir a fonte -->
                <p> metas integrada a todas as nossas funcionalidades </p>
                <p> de auxiliamento financeiro. Entre em nossos </p>
                <p> grupos de apoio ou entre em contado com nossa </p>
                <p> equipe em caso de qualquer dúvida </p>
                <br>
            </section>
            <section>
                <h5> A Gerenciadora de Sonhos - GDS - é a solução para a vida daqueles que sonham e querem </h5>
                <h5> conquistar. Ajudamos a você em seu planejamento financeiro e o guiamos pelo melhor caminho </h5>
                <h5> até atingir as suas metas! </h5>
            </section>
            <section>
                <br><br><br>
                <h4> Faça seu planejamento financeiro conosco </h4> <!-- add uma imagem -->
            </section>
            <section>
                <br>
                <form action="GDS">
                    <h3> Qual o Seu Sonho?</h3>
                    <br>
                    <label for="GDS">dream</label>
                    <input type="text">
                    <br>
                    <p> Valor </p>
                    <input type="text">
                    <br>
                    <p> Prazo </p>
                    <input type="date"> <!-- da erro quando eu coloco o tipo data wtf -->
                </form>
                <br><br>
                <div>
                    <button> Simule </button>
                </div>
                <br><br>
            </section>
        </main>
    </div>
    <div>
        <footer>
            <ul>
                <li>
                    <a> Entre em contato </a>
                </li>
                <li>
                    <a> Sobre nós </a>
                </li>
                <li>
                    <a> Saiba mais </a>
                </li>
                <li>
                    <a> Ferramentas </a>
                </li>
                <li>
                    <a> Ajuda </a>
                </li>
            </ul>
        </footer>
    </div>

</body>

</html>