/* tela inicial */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #D3E9AB;
    height: 70px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.500);
    display: flex;
    gap: 20px;
    background-attachment: fixed;
}
body{
    color: black;
    background-color: #f0f0f0;
    
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    width: 200%;
}
.agrupamento{
    display: flex;
    gap: 3rem;
    
}
ul>li>a{
    display: flex;
    text-align: center;
}
a{
    color: black;
    text-decoration: none; /* para tirar linhas de "links" */
}

h1{
    width: 100%;
    max-width: 50rem;
    color: #376721;
    
    text-align: center;
}
h3{                         /* como que coloca no meio de um meio da tela? */
    color: #376721;
    display: flex;
    text-align: center;
}
.title>h1>span{
    color: #49A601;
    
 /* tem algum erro aqui que está deixando o ngc junto */
}
.title{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.center{
    display: flex;
    justify-content: center;
}
.center>img{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 500px;
    height: 310px;
    border: 1px solid rgba(0, 0, 0, 0.500);
}
header{
    background: linear-gradient(to bottom, #D3E9ABA6, #f0f0f0);
}
.loginBotao>a>button{
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    width: 9rem;
    border-radius: 30px;
    font-size: 1rem;
    border: none;
    background-color: #A2D488;
}
.loginBotao>a>button>img{
    width: 45px;
}
footer{
    display: flex;
    background-color: #D3E9AB;
    border: 1px solid rgba(0, 0, 0, 0.500);
    padding: 20px;
    height: 70px;
    justify-content: center;
}