<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <form action="login">
            <label>Username</label>
            <input type="email">
            <label>Password</label>
            <input type="password">
            <button> Entrar </button>
            <a href="cadastro.html"><button> Criar conta </button></a>
            <!-- o botao nao esta direcionando ao canto correto, só vai para canto nenhum ??? -->
        </form>
    </div>
</body>

</html>