<!DOCTYPE html>
<html lang="en">

<!-- feito -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Sonhos</title> <!-- Se muda o nome da pagina de acordo com a mudança de paginas? -->
    <link rel="website icon" type="png" href="imagens/logo-removebg-preview.png"> <!-- ajeitar o tamanho da logo -->
    <link rel="stylesheet" href="previdencia.css">

</head>

<body>
    <div>
        <nav>
            <ul>

                <li>
                    <a href="sobre.html"> Sobre nós </a>
                </li>
                <li>
                    <a href="acompanhe.html"> Acompanhe </a>
                </li>
                <li>
                    <a> Ferramentas </a>
                </li>
                <li>
                    <a href="educa.html"> Educação Financeira </a>
                </li>
                <li>
                    <a> Login </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- add uma imagem no header -->

    <div>
        <section>
            <form action="forms">
                <h3> SIMULE SEU PLANO DE PREVIDENCIA COM A GDS </h3>
                <br>
                <label>IDADE ATUAL</label>
                <input type="text">
                <!-- se uma variavel do tipo int esta sendo declarada como "text" ela vira String e nao executa soma? -->
                <label>IDADE APOSENTADORIA</label>
                <input type="text">
                <label>VALOR A SE INVESTIR</label>
                <input type="text">
                <br>

                <button>SIMULE</button> <!-- nao gostei da palavra usada no botao-->
            </form>
        </section>
        <div>
            <section> <!-- como add isso daqui em um quadrado? -->
                <h4>Total acumulado</h4>
                <br><br>
                <p> R$ XXX.XXX</p>
            </section>
        </div>
        <div>
            <section> <!-- como add isso daqui em um quadrado? -->
                <h4>Total acumulado</h4>
                <br><br>
                <p> R$ XXX.XXX</p>
            </section>
        </div>
        <div>
            <section> <!-- como add isso daqui em um quadrado? -->
                <h4>Total acumulado</h4>
                <br><br>
                <p> R$ XXX.XXX</p>
            </section>
        </div>
        <div>
            <h3>O QUE É PREVIDENCIA PRIVADA E SEUS BENEFICIOS</h3>
            
            <P> Funciona como uma renda extra que é poupada hoje com foco em projetos futuros e serve como reforço (ou
                complemento) para a aposentadoria oficial (a pública, do INSS). Assim, uma pessoa que tenha uma
                previdência privada poderá no futuro ter duas aposentadorias: a do INSS e a particular.</P>
            <br>
        </div>
    </div>
    <footer>
        <ul>
            <li>
                <a> Entre em contato </a>
            </li>
            <li>
                <a> Sobre nós </a>
            </li>
            <li>
                <a> Saiba mais </a>
            </li>
            <li>
                <a> Ferramentas </a>
            </li>
            <li>
                <a> Ajuda </a>
            </li>
        </ul>
    </footer>
    </div>

</body>

</html>